.mouse {
    width: 8em;
    height: 13em;
    font-size: 3px;
    border: 1em solid #fff;
    border-radius: 4em;
    position: absolute;
    margin: 0 auto;
    bottom: 3em;
    left: 50%;
    transform: translate(-50%);
}
.mouse::before {
    content: '';
    display: block;
    height: 1.6em;
    width: 1em;
    position: absolute;
    top: 2.5em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 0.5em;
}